<a href="https://colab.research.google.com/github/GudepuSandeepReddy/pythonds/blob/main/DataFramesOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#filtering the data
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)
#Filtering rows for age >23
filtered_data=dataframe[dataframe['Age']>23]
print(filtered_data)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
    Name  Age Gender
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F

In [4]:
#adding coloums for dataframe
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)


dataframe['city']=['vij','bez','bang','doom']
print(dataframe)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
    Name  Age Gender  city
0   Abcd   22      F   vij
1  sdgfd   30      M   bez
2   wert   35      M  bang
3   sdfg   40      F  doom

In [7]:
#Aggregation and grouping
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)
grouped_df= dataframe.groupby('Gender').agg({'Age':'median'})
print(grouped_df)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
         Age
Gender
F       31.0
M       32.5

In [8]:
#import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)
sorted_df = dataframe.sort_values(by='Gender')
print(sorted_df)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
    Name  Age Gender
0   Abcd   22      F
3   sdfg   40      F
1  sdgfd   30      M
2   wert   35      M

In [9]:
#data transformation
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)
dataframe['Age']=dataframe['Age'].apply(lambda x:x+5)
print(dataframe)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
    Name  Age Gender
0   Abcd   27      F
1  sdgfd   35      M
2   wert   40      M
3   sdfg   45      F

In [14]:
#Reshaping the data(pivot)
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe=pd.DataFrame(d)
print(dataframe)

pivot_table=dataframe.pivot(index='Age',columns='Gender', values='Name')
print(pivot_table)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
Gender     F      M
Age
22      Abcd    NaN
30       NaN  sdgfd
35       NaN   wert
40      sdfg    NaN

In [12]:
#Merging the data.
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe1=pd.DataFrame(d)
print(dataframe1)
d1={
    'Name':['Abcd','ghjk','wert','asdf'],
    'Age':[13,18,56,45],
    'Gender':['F','M','M','F']
}
dataframe2=pd.DataFrame(d1)
print(dataframe2)
#atleast one column must be same in two datatables

merged_df=pd.merge(dataframe1,dataframe2, on ='Name')
print(merged_df)

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
   Name  Age Gender
0  Abcd   13      F
1  ghjk   18      M
2  wert   56      M
3  asdf   45      F
   Name  Age_x Gender_x  Age_y Gender_y
0  Abcd     22        F     13        F
1  wert     35        M     56        M

In [13]:
#concatenation
import pandas as pd
d={
    'Name':['Abcd','sdgfd','wert','sdfg'],
    'Age':[22,30,35,40],
    'Gender':['F','M','M','F']
}
dataframe1=pd.DataFrame(d)
print(dataframe1)
d1={
    'City':['Abcd','ghjk','wert','asdf'],
    'Dob':[13,18,56,45],
    'Area':['F','M','M','F']
}
dataframe2=pd.DataFrame(d1)
print(dataframe2)


print(pd.concat([dataframe1,dataframe2]))

    Name  Age Gender
0   Abcd   22      F
1  sdgfd   30      M
2   wert   35      M
3   sdfg   40      F
   City  Dob Area
0  Abcd   13    F
1  ghjk   18    M
2  wert   56    M
3  asdf   45    F
    Name   Age Gender  City   Dob Area
0   Abcd  22.0      F   NaN   NaN  NaN
1  sdgfd  30.0      M   NaN   NaN  NaN
2   wert  35.0      M   NaN   NaN  NaN
3   sdfg  40.0      F   NaN   NaN  NaN
0    NaN   NaN    NaN  Abcd  13.0    F
1    NaN   NaN    NaN  ghjk  18.0    M
2    NaN   NaN    NaN  wert  56.0    M
3    NaN   NaN    NaN  asdf  45.0    F

In [22]:
#Missing Data
import pandas as pd
import numpy as np

d={
    'Name':['Abcd',np.NAN,np.NAN,'sdfg'],
    'Age':[22,np.NAN,np.NAN,40],
    'Gender':['F',np.NAN,'M','F']
}
dataframe1=pd.DataFrame(d)
print(dataframe1)

print(dataframe1.isnull()) #checks each cell if it is null.
print('\n')
print(dataframe1.isnull().sum())#gives sum of the cells that are there.
print('\n')

print('\n')
dataframe1=dataframe1.dropna(how='all') # drops the rows which containing all the nulls.
print(dataframe1)

dataframe1=dataframe1.dropna() # drops the rows that contains null.
print(dataframe1)

   Name   Age Gender
0  Abcd  22.0      F
1   NaN   NaN    NaN
2   NaN   NaN      M
3  sdfg  40.0      F
    Name    Age  Gender
0  False  False   False
1   True   True    True
2   True   True   False
3  False  False   False


Name      2
Age       2
Gender    1
dtype: int64




   Name   Age Gender
0  Abcd  22.0      F
2   NaN   NaN      M
3  sdfg  40.0      F
   Name   Age Gender
0  Abcd  22.0      F
3  sdfg  40.0      F

In [24]:
#Filling the Null Values
import pandas as pd
import numpy as np

d={
    'Name':['Abcd',np.NAN,np.NAN,'sdfg'],
    'Age':[22,np.NAN,np.NAN,40],
    'Gender':['F',np.NAN,'M','F']
}
dataframe1=pd.DataFrame(d)
print(dataframe1)
print('\n')
print('\n')
# dataframe1=dataframe1.fillna({'Name':'Someone','Age':25,'Gender':'NA'})
# print(dataframe1)
print('\n')
dataframe1=dataframe1.fillna('NA')
print(dataframe1)

   Name   Age Gender
0  Abcd  22.0      F
1   NaN   NaN    NaN
2   NaN   NaN      M
3  sdfg  40.0      F






   Name   Age Gender
0  Abcd  22.0      F
1    NA    NA     NA
2    NA    NA      M
3  sdfg  40.0      F